:root{
    --color: #ffc800 ;
}
*{
    color: black;
}
.wrap-Admin{
    padding-top:74px ;

}
.Admin {
    width: 100%;
    display: flex;
    position: relative;
    
} 
.Admin .sidebar{
    width:20%;
    height: calc(100vh - 70px);
    background: var(--color);
    position: fixed;
}
.Admin .sidebar ul{
    padding: 10px;
}
.Admin .sidebar ul li{
    padding: 10px 15px;
    font-size: 18px;
    margin:10px 0;
    display: flex;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Admin .sidebar ul li img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    margin-right: 10px;

}
.lesproduits{
    width: 80%;
    margin-left: 20%;
}
.container {
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table-header {
	display:flex;
	width:100%;
	border-bottom: 1px solid grey;;
	
}

.table-row {
	display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px 0;
}
.table-data, .header__item {
	text-align:center;
    width: 180px;
}
.table-data button{
    padding: 6px 12px;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
}
.table-data button img{
    width: 20px;
    height: 20px;
}
.table-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__item {
	text-transform:uppercase;
    width: 180px;
    padding: 15px 0;
    margin-bottom: 3px;
}

.filter__link {
	text-decoration: none;
	position:relative;
	display:inline-block;	
}

.table-data img{
    width: 50px ;
    height: 50px;
}
.add-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    
}
.wrap-Admin .add-button img{
    width: 50px;
    height: 50px;
}


.wrap-Admin .wrap-Overlay-add {
    padding-top: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrap-Admin .Overlay-add {
    position: relative;
    width: 80%;
    height: 80%;
    background: #fff; 
    padding: 20px;
    border-radius: 10px;
    z-index: 33333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.wrap-Admin .Overlay-add form input {
    display: block;
    width:400px;
    height: 35px;
    margin-bottom: 15px;
}
.wrap-Admin .Overlay-add form  .center-submit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-Admin .Overlay-add form input[type=submit] {
    margin: 20px 0;
    background-color: #ffc800;
    outline: none;
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.wrap-Admin .Overlay-add .close-me{
    position: absolute;
    top: -30px;
    right: -30px
}
.wrap-Admin .Overlay-add .close-me button{
    outline: none;
    background: white;
    border: 50%;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
}
.wrap-Admin .Overlay-add .close-me button img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.wrap-Admin .flex-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.table_utilisateur{
    padding: 20px;
}

.table_utilisateur ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.table_utilisateur ul li{
    position: relative;
    display: flex;
    width: 250px;
    height: 120px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.admin_utilisateur{
    display: flex;
    width: 100%;
    height: 100%; 
}
.admin_utilisateur .adminLeft_utilisateur{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_utilisateur .adminLeft_utilisateur div{
    width:  85%;
    height: 80%;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.admin_utilisateur .adminLeft_utilisateur div p{
    text-transform: capitalize;
    font-size: 30px;
}
.admin_utilisateur .adminRight_utilisateur{
    width: 60%;
    position: relative;
    word-break: break-all;
    padding: 10px;
}








