:root{
    --color: #ffc800 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffff0;
}
.wrap_connexion{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_connexion h1 {
    font-weight: bold;
    margin: 0;
  }
  
  .wrap_connexion  h2 {
    text-align: center;
  }
  
  .wrap_connexion  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  .wrap_connexion  span {
    font-size: 12px;
  }
  

  .wrap_connexion  form input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #ffc800;
    background: #ffc800 ;
    background: -webkit-linear-gradient(to right, #ffc800 , #efc21d );
    background: linear-gradient(to right, red, #f69d3c);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .wrap_connexion  button:active {
    transform: scale(0.95);
  }
  
  .wrap_connexion button:focus {
    outline: none;
  }
  
  .wrap_connexion  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .wrap_connexion form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .wrap_connexion input[type="text"] ,input[type="password"]  {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  .wrap_connexion  input[type="submit"]{
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  
  }
  #signUp , #signIn{
    border-radius: 20px;
    border: 1px solid #ffc800 ;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  
  }
  .wrap_connexion  .container {
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 70px;
  }
  
  .wrap_connexion  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .wrap_connexion  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .wrap_connexion .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .wrap_connexion  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .wrap_connexion  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .wrap_connexion  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .wrap_connexion .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }
  
  .wrap_connexion  .overlay {
    background: #ffc800 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
      transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .wrap_connexion .container.right-panel-active .overlay {
      transform: translateX(50%);
  }
  
  .wrap_connexion  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .wrap_connexion .overlay-left {
    transform: translateX(-20%);
  }
  
  .wrap_connexion  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .wrap_connexion .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .wrap_connexion  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  .wrap_connexion .notification{
    color: white;
  }
  .wrap_connexion .englobe_valide{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #ffc800 ;
    color: white;
    z-index: 77777777;
  }
  
  .wrap_connexion .englobe_valide .valid p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  