:root{
    --color: #ffc800 ;
}
.Homme{
    width: 100%;
    position: relative;
    padding: 0 10px ;
    padding-top: 75px;


    
}
.Homme .vetements-section{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(236, 236, 236);
    color: white;
    position: relative;

}

.Homme .vetements-section h1{
    margin-left: 20px;
}
.Homme .vetements-section ul{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    color: white;
}
.Homme .vetements-section ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: #fffff0;
}
.Homme .vetements-section ul li:hover{
    background-color: var(--color);
}
.Homme .Filtre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px ;
}
.Homme .Filtre div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 8px 10px;
}
.Homme .Filtre div img{
    width: 25px;
    height: 25px;
}
.Homme .tag-homme{
    margin: 5px 0;
}
.Homme .tag-homme ul{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
}
.Homme .tag-homme ul li{
    display: inline-block;
    margin: 5px 15px;
    opacity: 0.8;
    
}
.Homme .tag-homme ul li:first-child{
    border-bottom: 2px solid black;
    opacity: 1;
}
.Homme .wrap-lert-right{
    display: flex;
    width: 100%;
}
.Homme .wrap-lert-right .left-homme ,
.Homme .wrap-lert-right .right-homme {
    
    padding: 10px;
    
    
}
.Homme .wrap-lert-right .left-homme{
    width: 25%;
    height: 100vh ;
    border: 1px solid black;
}
.Homme .wrap-lert-right  .left-hommesticky {
    width: 25%;
    height: 100vh ;
    border: 1px solid black;
    position: sticky;
    top: 80px;
    left: 0;
    right: 0;
    padding: 10px;
    

}
.left-hommesticky ul li:not(:last-child) ,
.Homme .wrap-lert-right .left-homme ul li:not(:last-child){
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 5px;
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
    position: relative;

}
.left-hommesticky ul li:last-child ,
.Homme .wrap-lert-right .left-homme ul li:last-child{
    width: 100%;
    height: 90px;
    border: 1px solid black;
    margin: 10px 0;
    position: relative;
    padding: 10px 5px;
    list-style: none;

}


.left-hommesticky ul li img ,
.Homme .wrap-lert-right .left-homme ul li img{
    width: 20px ;
    height: 20px;
}
.Homme .wrap-lert-right .wrap-right-homme{
    width: 75%;
    position: relative;
}
.Homme .wrap-lert-right .right-homme{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.Homme .wrap-lert-right .right-homme .elem-produit-homme{
    width: 284px;
    height: 380px;
    position: relative;
    margin: 10px;
}
.Homme .wrap-lert-right .right-homme .elem-produit-homme .in-elem-produit-homme img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.image-icon-produit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
.image-icon-produit .panier ,.image-icon-produit .like{
    width: 23px;
    height: 23px;
}
.image-icon-produit div{
    width: 35px;
    height: 35px;
    background-color: #fffff0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.image-icon-produit div:last-child{
    z-index: 4;
    animation: shadow 1.4s linear infinite alternate;
    
}
.Homme .price-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Homme label {
   font-size: 12px;
   font-weight: 500;
}

.price-content .p {
   font-size: 16px;
   font-weight: 600;
}

.range-slider {
    margin-top: 10px;
    width: 100%;
}

.Homme input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; 
    position: absolute;
    left: 0;
    padding: 0 5px;
}

.Homme input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
    height: 15px;
    width: 10px;
    background: var(--color);
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

.Homme input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}
.right-homme .elem-produit-homme .PrixAvant{
    text-decoration: line-through;
    color: grey;
}
.right-homme .elem-produit-homme .reduction{
    color: green;
    font-weight: bold;
}
.right-homme .elem-produit-homme .prixMaintenant , 
.right-homme .elem-produit-homme .prix{
    font-weight: bold;
    opacity: 0.7;
    margin: 4px 0;

}
.right-homme .elem-produit-homme .wrap-Avant-Maintenant{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}